<div class="container-fluid">
  <mat-card>
    <mat-card-title>
      <div class="d-flex align-items-center justify-content-between">
        <span>Company List</span>
        <button mat-button mat-raised-button color="primary" (click)="add()">
          <mat-icon>add</mat-icon>
          Add Company
        </button>
      </div>
    </mat-card-title>
    <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{ row.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="active">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Active</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.active ? 'Active' : 'Inactive' }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address1">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address1</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.address1 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="address2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Address2</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.address2 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="jobLocation">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Job Location</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.jobLocation }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="skills">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Skills</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.skills }}</mat-cell>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>

        <mat-cell *matCellDef="let row; let i = index">
          <button mat-icon-button color="primary" (click)="edit(row)">
            Edit
          </button>
          <button mat-icon-button color="accent" (click)="delete(row.id)">
            Delete
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>

    <div class="no-results" [style.display]="dataSource?.length == 0 ? '' : 'none'">
      No results
    </div>

    <mat-paginator #paginator [length]="dataSource?.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card>
</div>
