<nav class="navbar navbar-expand-lg sticky-top navbar-light navbar-first mat-elevation-z3 py-0">
  <div class="container-fluid">
    <a class="logo-box" routerLink="/main/home">
      <mat-icon> local_library </mat-icon>
      <span class="ms-2">Consultancy Management</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" ><!--*ngIf="isLoggedIn"-->
          <a class="nav-link" href="javascript:void(0)" (click)="logOut()">Logout</a>
        </li>
        <!--<li class="nav-item" *ngIf="!isLoggedIn">-->
          <!--<a class="nav-link" href="#">Login</a>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</nav>


<div class="wrapper">
  <aside class="sidebar">
    <ul class="sidebar-menu">
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/home" routerLinkActive="active">
          <span><mat-icon> home </mat-icon> Home</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/users" routerLinkActive="active">
          <span><mat-icon> supervisor_account </mat-icon> Users</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/roles" routerLinkActive="active">
          <span><mat-icon> how_to_reg </mat-icon> Roles</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/enquiry" routerLinkActive="active">
          <span><mat-icon> list_alt </mat-icon> Enquiries</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/skills" routerLinkActive="active">
          <span><mat-icon> school </mat-icon> Skills</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/company" routerLinkActive="active">
          <span><mat-icon> domain </mat-icon> Company</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/jobs" routerLinkActive="active">
          <span><mat-icon> move_to_inbox </mat-icon> Jobs</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/designation" routerLinkActive="active">
          <span><mat-icon> school </mat-icon> Designation</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/main/department" routerLinkActive="active">
          <span><mat-icon> account_balance </mat-icon> Department</span>
        </a>
      </li>
      <!-- <li class="sidebar-item">
        <a class="sidebar-link" data-bs-toggle="collapse" href="#collapseExample">
          <span><mat-icon> view_module </mat-icon> Masters</span> <mat-icon> expand_more </mat-icon>
        </a>
        <div class="collapse" id="collapseExample">
          <ul class="sidebar-sbmenu">
            <li><a class="sidebar-sbmenu-item" [routerLink]="['/main/enquiry']" routerLinkActive="router-link-active"><mat-icon style="font-size: 10px;"> brightness_1 </mat-icon>Enquiry</a></li>
            <li><a class="sidebar-sbmenu-item" [routerLink]="['/main/property']" routerLinkActive="router-link-active"><mat-icon style="font-size: 10px;"> brightness_1 </mat-icon>Property</a></li>
            <li><a class="sidebar-sbmenu-item" [routerLink]="['/main/states']" routerLinkActive="router-link-active"><mat-icon style="font-size: 10px;"> brightness_1 </mat-icon>States</a></li>
            <li><a class="sidebar-sbmenu-item" [routerLink]="['/main/city']" routerLinkActive="router-link-active"><mat-icon style="font-size: 10px;"> brightness_1 </mat-icon>City</a></li>
            <li><a class="sidebar-sbmenu-item" [routerLink]="['/main/roles']" routerLinkActive="router-link-active"><mat-icon style="font-size: 10px;"> brightness_1 </mat-icon>Roles</a></li>
          </ul>
        </div>
      </li> -->
    </ul>
  </aside>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
