<section class="login-section">
  <div class="row g-0 justify-content-center pt-5" *ngIf="loginOrRegister">
    <div class="col-sm-4">
      <mat-card>
        <h2 class="font-weight-bold text-center">Login</h2>
        <h5 class="font-weight-normal text-center">Consultancy Management System</h5>
        <hr>
        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="loginError.status">
          {{loginError.message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput>
            <mat-icon matSuffix>person_outline</mat-icon>
          </mat-form-field>
          <mat-error *ngIf="isLoginFormSubmitted && loginFormControls.email.errors && loginFormControls.email.errors.required">
            Email is required
          </mat-error>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput>
            <mat-icon matSuffix>lock_outline</mat-icon>
          </mat-form-field>
          <mat-error *ngIf="isLoginFormSubmitted && loginFormControls.password.errors && loginFormControls.password.errors.required">
            Password is required
          </mat-error>
          <div class="d-flex align-items-center justify-content-center mt-3">
            <button type="submit" mat-raised-button color="primary">Login</button>
            <button type="button" mat-raised-button (click)="toggleForm()" class="ms-2">Register</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>

  <div class="login-container" *ngIf="!loginOrRegister">
    <div class="row w-100 g-0 justify-content-center">
      <div class="col-sm-4">
        <mat-card>
          <h2 class="font-weight-bold text-center mb-0">Register</h2>
          <h5 class="font-weight-normal text-center">Consultancy Management System</h5>
          <hr>
          <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">

            <div class="row">
              <div class="col-sm-6">

                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>First name</mat-label>
                  <input matInput formControlName="firstName">
                </mat-form-field>
                <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.firstName.errors && registerFormControls.firstName.errors.required">
                  First name is required
                </mat-error>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Last name</mat-label>
                  <input matInput formControlName="lastName">
                </mat-form-field>
                <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.lastName.errors && registerFormControls.lastName.errors.required">
                  Last name is required
                </mat-error>
              </div>
            </div>


            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
            </mat-form-field>
            <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.email.errors && registerFormControls.email.errors.required">
              Email is required
            </mat-error>
            <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.email.errors && registerFormControls.email.errors.pattern">
              Please enter a valid email address
            </mat-error>

            <mat-form-field class=" w-100" appearance="outline">
              <mat-label>Phone</mat-label>
              <input matInput formControlName="phone">
            </mat-form-field>
            <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.phone.errors && registerFormControls.phone.errors.required">
              Phone is required
            </mat-error>
            <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.phone.errors && registerFormControls.phone.errors.pattern">
              Enter 10 Digit Phone Number
            </mat-error>

            <div class="mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Select Role<span class="req">*</span></mat-label>
                <mat-select matInput [(value)]="roleId">
                  <mat-option *ngFor="let item of roles" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.roleId.errors && registerFormControls.roleId.errors.required">
                Role is required
              </mat-error>
            </div>

            <div class="mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Select Designation<span class="req">*</span></mat-label>
                <mat-select matInput [(value)]="designationId">
                  <mat-option *ngFor="let item of designationHolder" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.designationId.errors && registerFormControls.designationId.errors.required">
                Designation is required
              </mat-error>
            </div>

            <div class="mb-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Select Department<span class="req">*</span></mat-label>
                <mat-select matInput [(value)]="departmentId">
                  <mat-option *ngFor="let item of departmentHolder" [value]="item.id">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.departmentId.errors && registerFormControls.departmentId.errors.required">
                Department is required
              </mat-error>
            </div>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password">
            </mat-form-field>
            <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.password.errors && registerFormControls.password.errors.required">
              Password is required
            </mat-error>

            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Confirm Password</mat-label>
              <input matInput type="password" formControlName="conf_password">
            </mat-form-field>
            <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.conf_password.errors && registerFormControls.conf_password.errors.required">
              Confirm Password is required
            </mat-error>
            <mat-error *ngIf="isRegisterFormSubmitted && registerFormControls.conf_password.errors && registerFormControls.conf_password.errors.mustMatch">
              Confirm Password & Password do not match
            </mat-error>

            <hr class="mt-0">
            <div class="d-flex align-items-center justify-content-center">
              <button type="submit" mat-raised-button color="primary">Register</button>
              <button type="button" mat-raised-button (click)="toggleForm()" class="ms-2">Login</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>
