<h1 mat-dialog-title>{{mode}} Department</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <mat-form-field appearance="outline">
        <mat-label>Name<span class="req">*</span></mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <mat-error *ngIf="isSubmitted && f.name.errors && f.name.errors.required">
        Name is required
      </mat-error>
    </div>
    <hr class="my-0">
    <mat-card-actions align="end">
      <button mat-button mat-raised-button mat-dialog-close >Close</button>
      <button type="submit" mat-button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </form>
</div>
